{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block header %}System Dashboard{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row g-2">
        <div class="col-6">
            <button class="btn btn-warning w-100 py-3" onclick="location.href='/test-mode'">
                <i class="bi bi-tools me-2"></i>Test Mode
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-secondary w-100 py-3" onclick="location.href='/settings'">
                <i class="bi bi-gear me-2"></i>Settings
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-info w-100 py-3" onclick="location.href='/drinks-config'">
                <i class="bi bi-cup-straw me-2"></i>Drinks Config
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-success w-100 py-3" onclick="location.href='/make-drinks'">
                <i class="bi bi-cup-hot me-2"></i>Make Drinks
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-danger w-100 py-3" onclick="location.href='/maintenance'">
                <i class="bi bi-wrench me-2"></i>Maintenance
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary w-100 py-3" onclick="location.href='/log'">
                <i class="bi bi-list-columns me-2"></i>System Log
            </button>
        </div>
    </div>
</div>
{% endblock %}
