{% extends "base.html" %}
{% block title %}Test Mode{% endblock %}
{% block header %}Test Mode{% endblock %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row g-3">
        {% for relay_name, state in relays.items() %}
        <div class="col-6 col-md-4 col-lg-3">
            <button id="{{ relay_name }}" 
                    class="btn w-100 py-3 btn-relay {{ 'btn-success' if state else 'btn-danger' }}" 
                    onclick="toggleRelay('{{ relay_name }}')">
                {{ relay_name }} - {{ 'ON' if state else 'OFF' }}
            </button>
        </div>
        {% endfor %}
    </div>
    
    <div class="row g-3 mt-3">
        <div class="col-6 col-md-4 col-lg-3">
            <button class="btn btn-primary w-100 py-3" onclick="timeTest()">Time Test</button>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <button class="btn btn-primary w-100 py-3" onclick="selfTest()">Self Test</button>
        </div>
        <div class="col-6 col-md-4 col-lg-3">
            <button id="toggleAllButton" 
                    class="btn btn-warning w-100 py-3" 
                    onclick="toggleAll()">All ON</button>
        </div>
    </div>
</div>

<!-- Test Modal -->
<div id="test-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header border-secondary">
                <h5 class="modal-title">Modal Title</h5>
                <button type="button" class="btn-close btn-close-white" onclick="closeModal()"></button>
            </div>
            <div class="modal-body">
                <p>Modal message goes here.</p>
            </div>
            <div class="modal-footer border-secondary">
                <button class="btn btn-primary" onclick="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/test_mode.js"></script>
{% endblock %}
